<!DOCTYPE html>
<html>
  <head>
    <title>DJAVANEAR</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/assets/darkmode.js" defer></script>
    <!-- import the function generateverso() from the file on assets/generateverso.js -->
    <script type="text/javascript" src="/assets/generateverso.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Djavanear é um site que gera versos aleatórios do Djavan"
    />
    <meta
      name="keywords"
      content="djavan, djavanear
    "
    />
    <meta name="author" content="Pedro Paiva" />
    <meta property="og:title" content="Djavanear" />
    <meta
      property="og:description"
      content="Djavanear é um site que gera versos aleatórios do Djavan"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Djavanear" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Djavanear" />
    <meta
      name="twitter:description"
      content="Djavanear é um site que gera versos aleatórios do Djavan"
    />
    <meta name="twitter:image" content="https://djavanear.vercel.app/assets/1.jpg" />
    <meta name="twitter:site" content="@paiva_sk8" />
    <meta name="twitter:creator" content="@paiva_sk8" />
    <meta name="twitter:domain" content="https://djavanear.vercel.app" />
    <meta name="twitter:label1" content="Versos" />
    <meta name="twitter:data1" content="Djavan" />
    <meta name="twitter:label2" content="Autor" />
    <meta name="twitter:data2" content="Pedro Paiva" />
    <meta name="twitter:label3" content="Site" />
    <meta name="twitter:data3" content="Djavanear" />
    <meta name="twitter:label4" content="Instagram" />
    <meta name="twitter:data4" content="@paiva_sk8" />
    <meta name="twitter:label5" content="Github" />
    <meta name="twitter:data5" content="@hydraAngel" />
    <meta name="twitter:label7" content="Email" />
    <meta name="twitter:data7" content="ppvverissimo@gmail.com" />

    <meta property="og:image" content="https://djavanear.vercel.app/assets/1.jpg" />
    <meta property="og:image:secure_url" content="https://djavanear.vercel.app/assets/1.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Djavanear" />
  </head>
  <body>
    <button id="game-switch" onclick="window.location.href = '/game'">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M145.98-181.04q-46.68 0-73.02-34.05-26.35-34.04-19.79-85.17L100.61-634q7.5-59.04 55.03-102.28t108.06-43.24h433.6q59.76 0 107.55 43.35 47.78 43.35 55.54 102.17l46.44 333.74q7.56 51.83-20.03 85.52-27.59 33.7-71.52 33.7-25.13 0-45.47-8.79-20.33-8.78-32.9-22.34L636.1-311.48H324.39l-99.74 99.31q-13.28 13.56-33.47 22.34-20.2 8.79-45.2 8.79Zm552.57-261.05q16.2 0 28.65-12.29t12.45-28.72q0-15.87-12.28-28.6-12.27-12.73-28.68-12.73-15.92 0-28.65 12.57-12.74 12.57-12.74 28.44 0 16.43 12.53 28.88 12.52 12.45 28.72 12.45Zm-81.02-124.78q16.44 0 28.89-12.44t12.45-29.09q0-15.91-12.29-28.65-12.29-12.73-28.72-12.73t-28.89 12.52q-12.45 12.53-12.45 28.72 0 16.2 12.29 28.94 12.29 12.73 28.72 12.73ZM298.52-447.65h52.91v-71.61h71.61v-52.35h-71.61v-71.61h-52.91v71.61h-72.17v52.35h72.17v71.61Z"/></svg>
    </button>
    <button id="theme-switch">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e3e3e3"
      >
        <path
          d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e3e3e3"
      >
        <path
          d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"
        />
      </svg>
    </button>
    <div class="container">
      <div class="overlayeimagem-container">
        <div class="overlay">
          <h3 class="avisotext">Clique aqui para gerar um verso</h3>
        </div>
        <img
          id="imagem"
          src="/assets/<%= num %>.jpg"
          onclick="generateVerso();"
        />
      </div>
      <h1 class="titulo">DJAVANEAR</h1>
      <h2 class="verso hidden" id="versogerado"></h2>
      <h3 class="musica hidden" id="qualmusica"></h3>
      <h3 class="by">by <a href='https://www.instagram.com/paiva_sk8?igsh=MXA4a2V1cGNycTkwdw=='>@paiva_sk8</a></h3>
    </div>
    <script>
      function detectMob() {
        const toMatch = [
          /Android/i,
          /webOS/i,
          /iPhone/i,
          /iPad/i,
          /iPod/i,
          /BlackBerry/i,
          /Windows Phone/i,
        ];

        return toMatch.some((toMatchItem) => {
          return navigator.userAgent.match(toMatchItem);
        });
      }

      const ja_sabe = JSON.parse(localStorage.getItem("ja-sabe"));
      if (ja_sabe == null) {
        localStorage.setItem("ja-sabe", JSON.stringify({ "ja clicou": false }));
      } else if (ja_sabe["ja clicou"] == false) {
        document.querySelector(".overlay").style.display = "block";
      } else if (ja_sabe["ja clicou"] == true) {
        document.querySelector(".overlay").style.display = "none";
      }

      document.getElementById("imagem").addEventListener("click", () => {
        const ja_sabe = JSON.parse(localStorage.getItem("ja-sabe"));
        if (ja_sabe["ja clicou"] == false) {
          localStorage.setItem(
            "ja-sabe",
            JSON.stringify({ "ja clicou": true })
          );
          const foto = document.getElementById("imagem");
          document.querySelector(".overlay").style.display = "none";
        }
      });

      const overlay = document.querySelector(".overlay");
      const imagem = document.getElementById("imagem");
      const avisotext = document.querySelector(".avisotext");

      overlay.addEventListener("click", () => {
        generateVerso();
        // destroy overlay
        overlay.style.display = "none";
      });

      overlay.addEventListener("mouseover", () => {
        if (!detectMob()) {
          imagem.style.width = 340 + "px";
          imagem.style.height = 340 + "px";
          avisotext.style.font_size = 2 + "rem";
        } else {
          imagem.style.width = 600 + "px";
          imagem.style.height = 600 + "px";
        }
      });

      overlay.addEventListener("mouseout", () => {
        if (!detectMob()) {
          imagem.style.width = 333 + "px";
          imagem.style.height = 333 + "px";
          avisotext.style.font_size = 1.5 + "rem";
        } else {
          imagem.style.width = 607 + "px";
          imagem.style.height = 607 + "px";
        }
        
      });

      
    </script>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FEN7DMVKHJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FEN7DMVKHJ');
</script>
  </body>
</html>
