<!DOCTYPE html>
<html>
  <head>
    <title>DJALEATORIO</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <button class="btn-gen"></button>
      <h1 class="titulo">DJALEATORIO</h1>
      <h3 class="by">by paiva</h3>
    </div>
  </body>
</html>
