<!DOCTYPE html>
<html>
  <head>
    <title>DJAVANEAR</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/assets/darkmode.js" defer></script>
  </head>
  <body>
    <button id="theme-switch">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e3e3e3"
      >
        <path
          d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e3e3e3"
      >
        <path
          d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"
        />
      </svg>
    </button>
    <div class="container">
      <div class="overlayeimagem-container">
        <div class="overlay">
          <h3 class="avisotext">Clique aqui para gerar um verso</h3>
        </div>
        <img
          id="imagem"
          src="/assets/<%= num %>.jpg"
          onclick="generateVerso();"
        />
      </div>
      <h1 class="titulo">DJAVANEAR</h1>
      <h2 class="verso hidden" id="versogerado"></h2>
      <h3 class="musica hidden" id="qualmusica"></h3>
      <h3 class="by">by paiva</h3>
    </div>
    <script>
      function detectMob() {
        const toMatch = [
          /Android/i,
          /webOS/i,
          /iPhone/i,
          /iPad/i,
          /iPod/i,
          /BlackBerry/i,
          /Windows Phone/i,
        ];

        return toMatch.some((toMatchItem) => {
          return navigator.userAgent.match(toMatchItem);
        });
      }

      const ja_sabe = JSON.parse(localStorage.getItem("ja-sabe"));
      if (ja_sabe == null) {
        localStorage.setItem("ja-sabe", JSON.stringify({ "ja clicou": false }));
      } else if (ja_sabe["ja clicou"] == false) {
        document.querySelector(".overlay").style.display = "block";
      } else if (ja_sabe["ja clicou"] == true) {
        document.querySelector(".overlay").style.display = "none";
      }

      document.getElementById("imagem").addEventListener("click", () => {
        const ja_sabe = JSON.parse(localStorage.getItem("ja-sabe"));
        if (ja_sabe["ja clicou"] == false) {
          localStorage.setItem(
            "ja-sabe",
            JSON.stringify({ "ja clicou": true })
          );
          const foto = document.getElementById("imagem");
          document.querySelector(".overlay").style.display = "none";
        }
      });

      const overlay = document.querySelector(".overlay");
      const imagem = document.getElementById("imagem");
      const avisotext = document.querySelector(".avisotext");

      overlay.addEventListener("click", () => {
        generateVerso();
        // destroy overlay
        overlay.style.display = "none";
      });

      overlay.addEventListener("mouseover", () => {
        if (!detectMob()) {
          imagem.style.width = 340 + "px";
          imagem.style.height = 340 + "px";
          avisotext.style.font_size = 2 + "rem";
        } else {
          imagem.style.width = 600 + "px";
          imagem.style.height = 600 + "px";
        }
      });

      overlay.addEventListener("mouseout", () => {
        if (!detectMob()) {
          imagem.style.width = 333 + "px";
          imagem.style.height = 333 + "px";
          avisotext.style.font_size = 1.5 + "rem";
        } else {
          imagem.style.width = 607 + "px";
          imagem.style.height = 607 + "px";
        }
        
      });

      function generateVerso() {
        fetch("/generate")
          .then((response) => response.json())
          .then((data) => {
            const imagem = document.getElementById("imagem");
            imagem.src = "/assets/" + data["num_album"] + ".jpg";
            const h2verso = document.getElementById("versogerado");
            h2verso.innerHTML = '"' + data["verso"] + '"';
            h2verso.classList.remove("hidden");
            const h3musica = document.getElementById("qualmusica");
            h3musica.innerHTML =
              "Djavan em: <b>" + data["musica"].replace(".text", "") + "</b>";
            h3musica.classList.remove("hidden");
          });
      }
    </script>
  </body>
</html>
