:root {
  --color-text-by: #444554;
  --color-text-title: #333;
  --color-bg: #d9d2b6;
  --color-shadow: #6a6d67;
  --color-shadow-sec: #d6dbd2;
  --color-verse: #9E768F;
}

.darkmode {
  --color-text-by: #d6dbd2;
  --color-text-title: #d9d2b6;
  --color-bg: #333;
  --color-shadow: #abb1a6;
  --color-shadow-sec: #d6dbd2;
  --color-verse: #F7D6E0;
}

@font-face {
  font-family: "Secular One";
  src: url("SecularOne-Regular.woff") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("SecularOne-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  background-color: var(--color-bg);
  font-family: "Secular One", sans-serif;
}

.titulo {
  font-size: 3rem;
  color: var(--color-text-title);
  text-align: center;
  margin: 1rem 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.by {
  font-size: 1rem;
  color: var(--color-text-by);
  text-align: center;
  margin: 1rem 0;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  border-radius: 30px;
  width: 333px;
  height: 333px;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.2s;
  cursor: pointer;
  box-shadow: 16px 16px 19px var(--color-shadow),
    -16px -16px 19px var(--color-shadow-sec);
}

img:hover {
  transform: translate(-50%, -50%);
  width: 340px;
  height: 340px;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-text-title);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

#theme-switch:hover {
  transform: scale(1.05);
}

#theme-switch svg {
  fill: var(--color-bg);
  height: 30px;
  width: 30px;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.hidden {
  display: none;
}

.verso {
  font-size: 2rem;
  color: var(--color-verse);
  text-align: center;
  margin: 1rem 0;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
}

.musica {
  font-size: 1.4rem;
  color: var(--color-verse);
  text-align: center;
  margin: 1rem 0;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.musica b {
  color: var(--color-text-title);
}
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  img {
    border-radius: 30px;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.2s;
    cursor: pointer;
    box-shadow: 16px 16px 19px var(--color-shadow),
      -16px -16px 19px var(--color-shadow-sec);
  }

  img:hover {
    transform: translate(-50%, -50%);
    width: 607px;
    height: 607px;
  }

  .titulo {
    font-size: 4.5rem;
    color: var(--color-text-title);
    text-align: center;
    margin: 1rem 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .by {
    font-size: 2rem;
    color: var(--color-text-by);
    text-align: center;
    margin: 1rem 0;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #theme-switch {
    height: 100px;
    width: 100px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--color-text-title);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
  }

  #theme-switch:hover {
    transform: scale(1.05);
  }

  #theme-switch svg {
    fill: var(--color-bg);
    height: 80px;
    width: 80px;
  }

  #theme-switch svg:last-child {
    display: none;
  }

  .darkmode #theme-switch svg:first-child {
    display: none;
  }

  .darkmode #theme-switch svg:last-child {
    display: block;
  }
}

